In [73]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json 
import time
import yfinance as yf
#api_key =

In [74]:
#pip install yfinance

In [75]:
#Sample 
import yfinance as yf

costco=yf.Ticker("COST")

print(costco)

# get stock info
costco.info

# get historical market data, here max is 5 years.
costco.history(period="max")

yfinance.Ticker object <COST>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-07-09 00:00:00-04:00,7.439348,7.700378,7.352338,7.656873,1116800,0.0,0.0
1986-07-10 00:00:00-04:00,7.700376,7.743880,7.439346,7.613366,595600,0.0,0.0
1986-07-11 00:00:00-04:00,7.569861,7.613366,7.352336,7.352336,800400,0.0,0.0
1986-07-14 00:00:00-04:00,7.395843,7.395843,7.047803,7.134813,738000,0.0,0.0
1986-07-15 00:00:00-04:00,7.091306,7.091306,6.482236,6.917286,2059200,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-03 00:00:00-04:00,480.880005,491.329987,479.709991,486.290009,2010400,0.0,0.0
2022-11-04 00:00:00-04:00,490.399994,492.630005,476.489990,486.410004,1986800,0.0,0.0
2022-11-07 00:00:00-05:00,477.049988,490.000000,474.500000,488.549988,2036000,0.0,0.0
2022-11-08 00:00:00-05:00,490.730011,498.260010,484.510010,492.760010,1709900,0.0,0.0
2022-11-09 00:00:00-05:00,491.899994,497.579987,486.859985,489.970001,1639700,0.0,0.0

In [76]:
costco_data_df=pd.DataFrame(costco.history(period="max"))
costco_data_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-07-09 00:00:00-04:00,7.439345,7.700375,7.352335,7.656870,1116800,0.0,0.0
1986-07-10 00:00:00-04:00,7.700372,7.743877,7.439343,7.613362,595600,0.0,0.0
1986-07-11 00:00:00-04:00,7.569865,7.613370,7.352340,7.352340,800400,0.0,0.0
1986-07-14 00:00:00-04:00,7.395845,7.395845,7.047805,7.134815,738000,0.0,0.0
1986-07-15 00:00:00-04:00,7.091308,7.091308,6.482238,6.917288,2059200,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-03 00:00:00-04:00,480.880005,491.329987,479.709991,486.290009,2010400,0.0,0.0
2022-11-04 00:00:00-04:00,490.399994,492.630005,476.489990,486.410004,1986800,0.0,0.0
2022-11-07 00:00:00-05:00,477.049988,490.000000,474.500000,488.549988,2036000,0.0,0.0
2022-11-08 00:00:00-05:00,490.730011,498.260010,484.510010,492.760010,1709900,0.0,0.0
2022-11-09 00:00:00-05:00,491.899994,497.579987,486.859985,489.970001,1639700,0.0,0.0

In [77]:
costco_data_df.reset_dex(level=0, inplace=True)
costco_data_df['index']=costco_data_df.index
costco_data_df

AttributeError: 'DataFrame' object has no attribute 'reset_dex'

In [78]:
costco_data_df.to_csv('costco.csv',index_label='Date')

In [79]:
#create a dataframe for 
cost_stock_pre_covid = costco_data_df['Date']

KeyError: 'Date'

In [80]:
# How did the stocks performs pre covid?(jan-2019 to Dec -2019)

In [ ]:
#