In [260]:
#Team 7: We are working on data to analyze the stock market for some retails company's to check the performance of their stocks during the covid-19 pandemic (pre-vaccine vs post vaccine release).

#Questions:
#1. How did the stocks performs pre covid? (Jan - 2019 to  Dec -2019)
#2. How did the stocks performs during the pandemic before the vaccine release? Feb-2020 to Aug - 2021
#How did the stocks perform during the pandemic after the vaccine release? Sept-2021 to Sept-2022

In [261]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json 
import time
import yfinance as yf
import datetime as dt

In [262]:
import yfinance as yf

lowes=yf.Ticker("LOW")

print(lowes)

# get stock info
lowes.info

# get historical market data, here max is 5 years.
lowes.history(period="max")

yfinance.Ticker object <LOW>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,0.000000,0.292091,0.284909,0.284909,217600,0.0,0.0
1980-03-18 00:00:00-05:00,0.000000,0.287303,0.277726,0.277726,272000,0.0,0.0
1980-03-19 00:00:00-05:00,0.000000,0.280120,0.275332,0.277726,777600,0.0,0.0
1980-03-20 00:00:00-05:00,0.000000,0.282515,0.277726,0.277726,2105600,0.0,0.0
1980-03-21 00:00:00-05:00,0.000000,0.280120,0.272938,0.272938,348800,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-04 00:00:00-04:00,182.779999,187.850006,178.300003,182.149994,4623400,0.0,0.0
2022-11-07 00:00:00-05:00,183.570007,187.800003,181.039993,186.559998,2715300,0.0,0.0
2022-11-08 00:00:00-05:00,188.059998,190.009995,185.779999,188.360001,2880800,0.0,0.0
2022-11-09 00:00:00-05:00,187.309998,191.270004,186.309998,186.630005,3007200,0.0,0.0
2022-11-10 00:00:00-05:00,195.309998,204.740005,195.300003,204.320007,4836700,0.0,0.0

In [263]:
# Convert the cities weather data into a Pandas DataFrame
lowes_data_df = pd.DataFrame(lowes.history(period="max"))

# Show Record Count
lowes_data_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,0.000000,0.292091,0.284909,0.284909,217600,0.0,0.0
1980-03-18 00:00:00-05:00,0.000000,0.287303,0.277726,0.277726,272000,0.0,0.0
1980-03-19 00:00:00-05:00,0.000000,0.280120,0.275332,0.277726,777600,0.0,0.0
1980-03-20 00:00:00-05:00,0.000000,0.282515,0.277726,0.277726,2105600,0.0,0.0
1980-03-21 00:00:00-05:00,0.000000,0.280120,0.272938,0.272938,348800,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-04 00:00:00-04:00,182.779999,187.850006,178.300003,182.149994,4623400,0.0,0.0
2022-11-07 00:00:00-05:00,183.570007,187.800003,181.039993,186.559998,2715300,0.0,0.0
2022-11-08 00:00:00-05:00,188.059998,190.009995,185.779999,188.360001,2880800,0.0,0.0
2022-11-09 00:00:00-05:00,187.309998,191.270004,186.309998,186.630005,3007200,0.0,0.0
2022-11-10 00:00:00-05:00,195.309998,204.740005,195.300003,204.320007,4836700,0.0,0.0

In [264]:
lowes_data_df.reset_index(inplace=True)
lowes_data_df['index'] = lowes_data_df.index
lowes_data_df['Date'] = pd.to_datetime(lowes_data_df['Date'], format='%Y-%m-%d')
lowes_data_df = lowes_data_df[["Date","Close"]]
lowes_data_df

                           Date       Close
0     1980-03-17 00:00:00-05:00    0.284909
1     1980-03-18 00:00:00-05:00    0.277726
2     1980-03-19 00:00:00-05:00    0.277726
3     1980-03-20 00:00:00-05:00    0.277726
4     1980-03-21 00:00:00-05:00    0.272938
...                         ...         ...
10752 2022-11-04 00:00:00-04:00  182.149994
10753 2022-11-07 00:00:00-05:00  186.559998
10754 2022-11-08 00:00:00-05:00  188.360001
10755 2022-11-09 00:00:00-05:00  186.630005
10756 2022-11-10 00:00:00-05:00  204.320007

[10757 rows x 2 columns]

In [265]:
# Export the City_Data into a csv
lowes_data_df.to_csv("lowes.csv")

In [266]:
lowes_data_df.dtypes

Date     datetime64[ns, America/New_York]
Close                             float64
dtype: object

In [267]:
#lowes_pre_covid_df = lowes_data_df.loc[((lowes_data_df['Date'].dt.year == 2019) & (lowes_data_df['Date'].dt.month == 1))]
#lowes_pre_covid_df

In [268]:
#Create a dataframe for lowes pre-covid stock data (Jan - 2019 to Dec -2019)
lowes_pre_covid_df = lowes_data_df.loc[((lowes_data_df['Date'].dt.year == 2019))]
lowes_pre_covid_df
#pre_covid2[["Date","Close"]]

                           Date       Close
9783  2019-01-02 00:00:00-05:00   86.047890
9784  2019-01-03 00:00:00-05:00   85.022072
9785  2019-01-04 00:00:00-05:00   87.540016
9786  2019-01-07 00:00:00-05:00   89.199974
9787  2019-01-08 00:00:00-05:00   91.046425
...                         ...         ...
10030 2019-12-24 00:00:00-05:00  113.905373
10031 2019-12-26 00:00:00-05:00  113.867340
10032 2019-12-27 00:00:00-05:00  114.342857
10033 2019-12-30 00:00:00-05:00  114.171677
10034 2019-12-31 00:00:00-05:00  113.895859

[252 rows x 2 columns]

In [269]:
lowes_pre_covid_month = lowes_pre_covid_df.loc[((lowes_pre_covid_df['Date'].dt.month == 1))]
lowes_pre_covid_month

                          Date      Close
9783 2019-01-02 00:00:00-05:00  86.047890
9784 2019-01-03 00:00:00-05:00  85.022072
9785 2019-01-04 00:00:00-05:00  87.540016
9786 2019-01-07 00:00:00-05:00  89.199974
9787 2019-01-08 00:00:00-05:00  91.046425
9788 2019-01-09 00:00:00-05:00  90.486923
9789 2019-01-10 00:00:00-05:00  89.507721
9790 2019-01-11 00:00:00-05:00  90.738701
9791 2019-01-14 00:00:00-05:00  90.374992
9792 2019-01-15 00:00:00-05:00  88.509872
9793 2019-01-16 00:00:00-05:00  87.623940
9794 2019-01-17 00:00:00-05:00  85.842728
9795 2019-01-18 00:00:00-05:00  88.575142
9796 2019-01-22 00:00:00-05:00  85.819473
9797 2019-01-23 00:00:00-05:00  86.072548
9798 2019-01-24 00:00:00-05:00  86.044434
9799 2019-01-25 00:00:00-05:00  87.937775
9800 2019-01-28 00:00:00-05:00  87.309792
9801 2019-01-29 00:00:00-05:00  87.572243
9802 2019-01-30 00:00:00-05:00  89.746780
9803 2019-01-31 00:00:00-05:00  90.131073

In [ ]:
lowes_data_df["Date"][0]

In [ ]:
lowes_pre_covid_df.info()

In [ ]:
pre_covid2[["Date","Close"]]
#b = pd.read_csv('lowes.csv')
#b.index = pd.to_datetime(b['Date'],format='%m/%d/%y %I:%M%p')
#b.groupby(by=[b.index.month, b.index.year])

In [ ]:
#2. How did the stocks performs during the pandemic before the vaccine release? Feb-2020 to Aug - 2021

In [ ]:
#3. How did the stocks perform during the pandemic after the vaccine release? Sept-2021 to Sept-2022