In [47]:
#Team 7: We are working on data to analyze the stock market for some retails company's to check the performance of their stocks during the covid-19 pandemic (pre-vaccine vs post vaccine release).

#Questions:
#1. How did the stocks performs pre covid? (Jan - 2019 to  Dec -2019
#2. How did the stocks performs during the pandemic before the vaccine release? Feb-2020 to Aug - 2021
#How did the stocks perform during the pandemic after the vaccine release? Sept-2021 to Sept-2022

In [48]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json 
import time
import yfinance as yf
import datetime as dt

In [49]:
import yfinance as yf

lowes=yf.Ticker("LOW")

print(lowes)

# get stock info
lowes.info

# get historical market data, here max is 5 years.
lowes.history(period="max")

yfinance.Ticker object <LOW>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,0.000000,0.292092,0.284909,0.284909,217600,0.0,0.0
1980-03-18 00:00:00-05:00,0.000000,0.287303,0.277726,0.277726,272000,0.0,0.0
1980-03-19 00:00:00-05:00,0.000000,0.280120,0.275332,0.277726,777600,0.0,0.0
1980-03-20 00:00:00-05:00,0.000000,0.282515,0.277726,0.277726,2105600,0.0,0.0
1980-03-21 00:00:00-05:00,0.000000,0.280120,0.272938,0.272938,348800,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-03 00:00:00-04:00,180.850006,182.860001,178.710007,179.820007,4187500,0.0,0.0
2022-11-04 00:00:00-04:00,182.779999,187.850006,178.300003,182.149994,4623400,0.0,0.0
2022-11-07 00:00:00-05:00,183.570007,187.800003,181.039993,186.559998,2715300,0.0,0.0
2022-11-08 00:00:00-05:00,188.059998,190.009995,185.779999,188.360001,2880800,0.0,0.0
2022-11-09 00:00:00-05:00,187.309998,191.270004,186.309998,186.630005,3007200,0.0,0.0

In [50]:
# Convert the cities weather data into a Pandas DataFrame
lowes_data_df = pd.DataFrame(lowes.history(period="max"))

# Show Record Count
lowes_data_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,0.000000,0.292091,0.284909,0.284909,217600,0.0,0.0
1980-03-18 00:00:00-05:00,0.000000,0.287303,0.277726,0.277726,272000,0.0,0.0
1980-03-19 00:00:00-05:00,0.000000,0.280120,0.275332,0.277726,777600,0.0,0.0
1980-03-20 00:00:00-05:00,0.000000,0.282515,0.277726,0.277726,2105600,0.0,0.0
1980-03-21 00:00:00-05:00,0.000000,0.280120,0.272938,0.272938,348800,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-03 00:00:00-04:00,180.850006,182.860001,178.710007,179.820007,4187500,0.0,0.0
2022-11-04 00:00:00-04:00,182.779999,187.850006,178.300003,182.149994,4623400,0.0,0.0
2022-11-07 00:00:00-05:00,183.570007,187.800003,181.039993,186.559998,2715300,0.0,0.0
2022-11-08 00:00:00-05:00,188.059998,190.009995,185.779999,188.360001,2880800,0.0,0.0
2022-11-09 00:00:00-05:00,187.309998,191.270004,186.309998,186.630005,3007200,0.0,0.0

In [51]:
#lowes_data_df.reset_index(level=0, inplace=True)
lowes_data_df.reset_index(inplace=True)
lowes_data_df['index'] = lowes_data_df.index

lowes_data_df['Date'] = pd.to_datetime(lowes_data_df['Date']).dt.date
lowes_data_df['Time'] = pd.to_datetime(lowes_data_df['Date']).dt.time

lowes_data_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,index,Time
0,1980-03-17,0.000000,0.292091,0.284909,0.284909,217600,0.0,0.0,0,00:00:00
1,1980-03-18,0.000000,0.287303,0.277726,0.277726,272000,0.0,0.0,1,00:00:00
2,1980-03-19,0.000000,0.280120,0.275332,0.277726,777600,0.0,0.0,2,00:00:00
3,1980-03-20,0.000000,0.282515,0.277726,0.277726,2105600,0.0,0.0,3,00:00:00
4,1980-03-21,0.000000,0.280120,0.272938,0.272938,348800,0.0,0.0,4,00:00:00
...,...,...,...,...,...,...,...,...,...,...
10751,2022-11-03,180.850006,182.860001,178.710007,179.820007,4187500,0.0,0.0,10751,00:00:00
10752,2022-11-04,182.779999,187.850006,178.300003,182.149994,4623400,0.0,0.0,10752,00:00:00
10753,2022-11-07,183.570007,187.800003,181.039993,186.559998,2715300,0.0,0.0,10753,00:00:00
10754,2022-11-08,188.059998,190.009995,185.779999,188.360001,2880800,0.0,0.0,10754,00:00:00
10755,2022-11-09,187.309998,191.270004,186.309998,186.630005,3007200,0.0,0.0,10755,00:00:00

In [52]:
# Export the City_Data into a csv
lowes_data_df.to_csv("lowes.csv")

In [54]:
#Create a dataframe for lowes pre-covid stock data (Jan - 2019 to Dec -2019)
lowes_pre_covid_df = pd.DataFrame(lowes_data_df["Date"]
lowes_pre_covid_df

SyntaxError: invalid syntax (<ipython-input-54-8f008e153fb0>, line 3)

In [56]:
lowes_data_df.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
index             int64
Time             object
dtype: object

In [57]:
lowes_pre_covid_df

             Date      Time
0      1980-03-17  00:00:00
1      1980-03-18  00:00:00
2      1980-03-19  00:00:00
3      1980-03-20  00:00:00
4      1980-03-21  00:00:00
...           ...       ...
10751  2022-11-03  00:00:00
10752  2022-11-04  00:00:00
10753  2022-11-07  00:00:00
10754  2022-11-08  00:00:00
10755  2022-11-09  00:00:00

[10756 rows x 2 columns]

In [ ]:
#create pre-covid date range 
lowes_pre_covid_df.date_range(start='2019-01-01', end='2019-12-31')
lowes_pre_covid_df

In [ ]:
lowes_pre_covid_df.info()

In [ ]:
#clean the date field and remove the time
#lowes_pre_covid_df.split("#", 1)
#lowes_pre_covid_df = lowes_pre_covid_df['Date'].int.split(' ', expand=True)

lowes_pre_covid_df['Date'] = pd.to_datetime(lowes_pre_covid_df['Date']).dt.date
lowes_pre_covid_df['Time'] = pd.to_datetime(lowes_pre_covid_df['Date']).dt.time

lowes_pre_covid_df

In [ ]:
#1. How did the stocks performs pre covid? (Jan - 2019 to Dec -2019)
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin
capomulin_table = Combined_data.loc[Combined_data['Drug Regimen'] == "Capomulin"]
mousedata = capomulin_table.loc[capomulin_table['Mouse ID']== 'l509']
plt.plot(mousedata['Timepoint'],mousedata['Tumor Volume (mm3)'])
plt.xlabel('Timepoint (days)')
plt.ylabel('Tumor Volume (mm3)')
plt.title('Capomulin treatment of mouse l509')
plt.show()

In [ ]:
x_axis = np.arange(len(number_of_timepoints))

plot_pd = number_of_timepoints.plot.bar(figsize=(8,5), color='b',fontsize = 12)
tick_locations = [value for value in x_axis]

plt.xticks(tick_locations, ['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo', 'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol'],  rotation='vertical')

plt.title("Total Number of Timepoints for all Mice Tested",fontsize = 12)
plt.xlabel("Drug Regimen",fontsize = 12)
plt.ylabel("Number of Mice Tested",fontsize = 12)
plt.legend()

In [ ]:
#2. How did the stocks performs during the pandemic before the vaccine release? Feb-2020 to Aug - 2021

In [ ]:
#3. How did the stocks perform during the pandemic after the vaccine release? Sept-2021 to Sept-2022